.cart-item h5 {
    font-size: 1.2em;
}

.cart-item-quantity {
    display: inline;
    padding-top: 0.7em;
    p {
        padding-top: 0.2em;
        margin-right: 0.5em;
    }

    p > i {
        -webkit-text-stroke: 0.2em white;
        &:first-child {
            padding-left: 0.7em;
            padding-right: 0.7em;
        }
    }

    input {
        width: 2em;
        height: 2em;
        text-align: center;
    }

}

.info_item{
    height: 100%;
    
}


.price_item_cart {
    padding-right: 1em;
    p{
        margin-bottom: 0em;
    }
}


.remove-item-cart > a {

    font-size: 0.8em;
    color:black;
    text-decoration: underline;

    &:hover {
        font-size: 0.8em;
        color:black;
        text-decoration: underline;
    }
}

#checkout_cart {
    padding-top: 2em;
}

@media screen and (max-width: 575px){
    .cart_item_img {
        padding:2em;
    }

}

@media screen and (max-width: 767px){

    .cart-item {
        p, input, i {
            font-size: 0.9em;
        }
    }

    .remove-item-cart > a{
        font-size: 0.8em;
        
        &:hover {
            font-size: 0.8em;
        }
    }

}