main {
  
  .contact-form {
    margin-top: 2em;
    .form-group {
      width: 60%;
    }
    input[type="button"]{
      width: 15%;
    }
  }
}

/*Mobile*/
@media screen and (max-width: 570px) {
  main {
    .col-lg-3.col-md-3.col-sm-4.col-xs-12 {
      .container {
        margin-top: 2em;
      }
    }
    .contact-form{
      .form-group {
        width: 100%;
      }
      input[type="button"]{
        width: 100%;
      }
    }

    .col-lg-3.col-md-3.col-sm-4.col-xs-12.contact-info {
      text-align: center;
    }
    
  }
}

@media screen and (min-width: 571px) and (max-width: 780px) {
  main {
    .contact-form{
      .form-group {
        width: 100%;
      }
      input[type="button"]{
        width: 25%;
      }
    }
    .col-lg-3.col-md-3.col-sm-4.col-xs-12.contact-info {
      padding: 0em;
    }
   
    
  }
}

@media screen and (min-width: 781px) and (max-width: 991px) {
  main {
    .contact-form{
      .form-group {
        width: 80%;
      }
      input[type="button"]{
        width: 25%;
      }
    }

    .col-lg-3.col-md-3.col-sm-4.col-xs-12.contact-info {
      padding: 0em;
    }
   
    
  }
}
