main {
    h1 {
        font-family: $font-title;
        font-weight: 700;
        font-size: 1.5em;
        margin-top: 2em;
    }
    .section-container {
        background-color: $white;
        h3 {
            font-family: $font-title;
            font-weight: 700;
        }

        input {
            margin: 0;
            background-color: white;
            color: $dark-grey;
            padding-left: 1em;
            text-transform: none;
            font-weight: 200;
            border: 0.06em solid $light-grey;
            border-radius: 2em;
            &:hover {
              background-color: none;
              cursor: auto;
            }
            &:focus {
              outline: none;
              border-color: $light-grey;
              color: $medium-grey;
              box-shadow: 0 0 0.7em $light-grey;
            }
        }
    }
    input[type=button] {
        background-color: $white;
        border-radius: 50px;
        padding: 0.5em;
        text-transform: uppercase;
        font-weight: 500;
        border: 2px solid $black;
        &:hover {
            background-color: $black;
            color: $white;
            cursor: pointer;
        }
    }
}