html,
body {
    font-family: $font-body;
    color: $black;
}

html {
    height: 100%;
}

body {
    position: relative;
    padding-top: 56px;
    background-color: $background;
    padding-bottom: 15rem;
    min-height: 100%;
    padding: 56px 0 15em 0;
}

input {
    outline: none;
}

main {
    h1,
    h5,
    h6,
    h2 {
        font-family: $font-title;
        font-weight: 700;
    }
    h1,
    h2 {
        font-size: 1.5em;
    }
    .box {
        background-color: $white;
        padding: 2em;
        height: 100%;
        .img-fluid {
            max-width: 70%;
        }
        h6 {
            font-family: $font-body;
            font-weight: 400;
            margin: 1em 0;
            text-align: center;
        }
        span {
            font-weight: 700;
            flex-grow: 1;
        }
        input {
            margin: 1em 0 0 0;
            width: 100%;
        }
    }
    .section-container {
        margin-top: 1em;
        padding: 2em;
        background-color: $white;
        h3 {
            font-family: $font-title;
            font-weight: 700;
        }
        figcaption {
            font-family: $font-title;
            font-weight: 700;
            letter-spacing: 0.1em;
            margin-top: 1em;
            text-align: center;
        }
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea,
    #message {
        margin: 0;
        background-color: white;
        color: $dark-grey;
        padding-left: 1em;
        text-transform: none;
        font-weight: 400;
        border: 0.06em solid $light-grey;
        border-radius: 2em;
        &:hover {
            background-color: none;
            cursor: auto;
        }
        &:focus {
            outline: none;
            border-color: $light-grey;
            color: $black;
            box-shadow: 0 0 0.7em $light-grey;
        }
    }
    textarea,
    #message {
        border-radius: 1em;
    }
    input[type="button"] {
        outline: none;
        color: black;
        background-color: $white;
        border-radius: 2em;
        padding: 0.5em;
        text-transform: uppercase;
        font-weight: 500;
        border: 2px solid $black;
        &:hover {
            background-color: $black;
            color: $white;
            cursor: pointer;
        }
    }
    input[type="button"].black-button {
        color: white;
        background-color: black;
        &:hover {
            background-color: $highlight;
            border-color: $highlight;
        }
    }
     ::placeholder {
        color: $dark-grey;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 126px;
    }
}