html,
body {
    font-family: $font-body;
    color: $black;
}

body {
    padding-top: 56px;
    background-color: $background;
}

.top-buffer {
    margin-top: 2em;
}

nav {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    background-color: $white;
    .navbar-brand {
        font-family: $font-title;
        text-transform: uppercase;
        font-weight: 500;
    }
    &.navbar-light {
        .navbar-nav .nav-link {
            font-family: $font-title;
            font-weight: 500;
            color: $black;
            &:hover {
                color: $medium-grey;
            }
        }
        .navbar-toggler {
            border: none;
        }
    }
    .dropdown {
        position: static;
        .dropdown-toggle::after {
            display: none;
        }
    }
    .container {
        position: relative;
    }
    .dropdown-menu {
        background-color: $background;
        border: none;
        border-radius: 0;
        width: 100%;
        margin-top: 0.5em;
        padding: 2em;
        .col-divider [class*='col-']:not(:last-child):after {
            background: $light-grey;
            width: 1px;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            min-height: 70px;
        }
        .col-sm-4 {
            padding: 0 2em;
        }
        .dropdown-header {
            font-family: $font-title;
            color: $dark-grey;
            text-transform: uppercase;
            padding: 0;
        }
        .dropdown-divider {
            border-top: 1px solid $dark-grey;
        }
    }
}

footer {
    font-family: $font-title;
    background-color: $white;
    .img-fluid {
        max-height: 100px;
        margin: 0 2em 0 5em;
    }
    .title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1em;
    }
    .list-unstyled a {
        color: $black;
        font-size: 0.9em;
        &:hover {
            color: $medium-grey;
            text-decoration: none;
        }
    }
    p {
        font-size: 0.9em;
    }
    .slogan {
        font-weight: 700;
        letter-spacing: 0.1em;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0.5em 1em;
    }
}

@media (max-width: 767px) {
    footer {
        .img-fluid {
            max-height: 50px;
        }
        .justify-content-end {
            justify-content: center!important;
        }
    }
    nav .dropdown .dropdown-toggle::after {
        display: inline-block;
    }
}