main {
    .register {
        height: 60vh;
        .row {
            height: 100%;
        }
    }
    .register-form {
        width: 100%;
        form {
            margin: 2em 0 0 0;
        }
        form input[type="button"] {
            min-width: 100%;
        }
    }
    .login-logo {
        figcaption {
            font-family: $font-title;
            font-weight: 700;
            letter-spacing: 0.1em;
        }
    }
}

@media screen and (max-width: 767px) {
    main {
        .register {
            height: min-content;
        }
        .login-logo {
            margin: 2em 0;
        }
        .register-form {
            margin: 2em 0;
        }
    }
}