.bottom-buffer {
  margin-bottom: 2em;
}

main {
  section{
    padding-left:0 !important;
    padding-right:0 !important;
  }
  .scroll_nav {
    border-bottom: 0.1em solid black;
    margin-top: 2em;
    padding-bottom: 0.3em;

    h1 {
      margin: 0;
    }

    a {
      font-family: $font-title;
      font-weight: 500;
      font-size: 1.2em;
      color: black;
      padding-right: 0;
      padding-left: 0.75em;
      text-decoration: none;

      &:hover {
        color: $dark-grey;
        cursor: pointer;
      }
      @media (max-width: 770px) {
        padding-left: 0;
      }
    }
  }

  div.jumptarget {
    padding-top: 5em !important;
    margin-top:-5em;
  }

  form {
    label {
      padding-left: 1.1em;
      font-weight: 700;
    }

    input[type="button"] {
      width: 20%;
      @media (max-width: 530px) {
        width: 100%;
      }
    }
  }

  .cards {
    .fa-trash-alt {
      &:hover {
        cursor: pointer;
        color: $dark-grey;
      }
    }

    .last-card {
      color: black;
      background-color: $white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.3em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      &:hover {
        background-color: $black;
        color: $white;
        cursor: pointer;
      }
    }
  }

  .table {
    table-layout: fixed;
    tr td:nth-child(2),
    tr th:nth-child(2) {
      text-align: center;
    }
    tr td:nth-child(3),
    tr th:nth-child(3) {
      text-align: end;
    }
    thead {
      text-transform: uppercase;
      font-weight: 700;
      tr {
        th {
          border-bottom: 0.2em solid black;
          border-top: none;
        }
      }
    }

    tbody {
      tr {
        td {
          border-top: 0.1em solid $light-grey;
        }
        &:hover {
          background: $extra-light-grey;
          cursor: pointer;
        }
        &.bold{
          font-weight: bold;
          background: $extra-light-grey;
        }
      }
    }

    .collapse-line {
      padding: 0em;
      border-top: none;
      text-align: start;
      background: $extra-light-grey;
      div.collapse {
        padding: 0.75em;
        .products_list_title {
          text-transform: uppercase;
          font-weight: 700;
        }
        p {
          padding: 0;
        }
        hr {
          margin: 0.75em 0.75em 0em 0.75em;
          border-color: $dark-grey;
        }
      }
    }
  }
}
