.bottom-buffer {
  margin-bottom: 2em;
}

main {
  #client_area_nav {
    border-bottom: 0.1em solid black;
    margin-top: 2em;
    padding-bottom: 0.3em;

    h1 {
      margin: 0;
    }

    a {
      font-family: $font-title;
      font-weight: 500;
      font-size: 1.2em;
      color: black;
      padding-right: 0;
      text-decoration: none;

      &:hover {
        color: $dark-grey;
        cursor: pointer;
      }
    }
  }

  form {
    label {
      padding-left: 1.1em;
      font-weight: 700;
    }

    input[type="button"] {
      width: 20%;
      @media (max-width: 530px) {
        width: 100%;
      }
    }
  }

  #addresses_cards {
    .fa-trash-alt {
      &:hover {
        cursor: pointer;
        color: $dark-grey;
      }
    }
  }
}
