@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,500,700");
main h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  padding: 0em !important; }
main .box {
  background-color: white;
  padding: 2em;
  height: 100%; }
  main .box .img-fluid {
    max-width: 70%; }
  main .box h6 {
    margin: 1em 0;
    font-weight: 400;
    text-align: center; }
  main .box span {
    font-weight: 700;
    flex-grow: 1; }
  main .box input {
    margin: 1em 0 0 0;
    width: 100%; }
main .section-container {
  margin-top: 1em;
  padding: 1.5em;
  background-color: white; }
  main .section-container h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700; }
  main .section-container input[type="text"],
  main .section-container input[type="password"], main .section-container input[type="email"] {
    margin: 0;
    background-color: white;
    color: #646464;
    padding-left: 1em;
    text-transform: none;
    font-weight: 400;
    border: 0.06em solid #D9D9D9;
    border-radius: 2em; }
    main .section-container input[type="text"]:hover,
    main .section-container input[type="password"]:hover, main .section-container input[type="email"]:hover {
      background-color: none;
      cursor: auto; }
    main .section-container input[type="text"]:focus,
    main .section-container input[type="password"]:focus, main .section-container input[type="email"]:focus {
      outline: none;
      border-color: #D9D9D9;
      color: #949494;
      box-shadow: 0 0 0.7em #D9D9D9; }
  main .section-container ::placeholder {
    color: #646464; }
main input[type="button"] {
  outline: none;
  color: black;
  background-color: white;
  border-radius: 2em;
  padding: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  border: 2px solid black; }
  main input[type="button"]:hover {
    background-color: black;
    color: white;
    cursor: pointer; }
main input[type="button"].black-button {
  color: white;
  background-color: black; }

/* SOFIA */
html,
body {
  font-family: "Roboto", sans-serif;
  color: black; }

body {
  padding-top: 56px;
  background-color: #F1F1F1; }

.top-buffer {
  margin-top: 2em; }

nav {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  background-color: white; }
  nav .navbar-brand {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500; }
  nav.navbar-light .navbar-nav .nav-link {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: black; }
    nav.navbar-light .navbar-nav .nav-link:hover {
      color: #949494; }
  nav.navbar-light .navbar-toggler {
    border: none; }
  nav .dropdown {
    position: static; }
    nav .dropdown .dropdown-toggle::after {
      display: none; }
  nav .container {
    position: relative; }
  nav .dropdown-menu {
    background-color: #F1F1F1;
    border: none;
    border-radius: 0;
    width: 100%;
    margin-top: 0.5em;
    padding: 2em; }
    nav .dropdown-menu .col-divider [class*='col-']:not(:last-child):after {
      background: #D9D9D9;
      width: 1px;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      min-height: 70px; }
    nav .dropdown-menu .col-sm-4 {
      padding: 0 2em; }
    nav .dropdown-menu .dropdown-header {
      font-family: "Raleway", sans-serif;
      color: #646464;
      text-transform: uppercase;
      padding: 0; }
    nav .dropdown-menu .dropdown-divider {
      border-top: 1px solid #646464; }

footer {
  font-family: "Raleway", sans-serif;
  background-color: white; }
  footer .img-fluid {
    max-height: 100px;
    margin: 0 2em 0 5em; }
  footer .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em; }
  footer .list-unstyled a {
    color: black;
    font-size: 0.9em; }
    footer .list-unstyled a:hover {
      color: #949494;
      text-decoration: none; }
  footer p {
    font-size: 0.9em; }
  footer .slogan {
    font-weight: 700;
    letter-spacing: 0.1em; }

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0.5em 1em; } }
@media (max-width: 767px) {
  footer .img-fluid {
    max-height: 50px; }
  footer .justify-content-end {
    justify-content: center !important; }

  nav .dropdown .dropdown-toggle::after {
    display: inline-block; } }
/* JULIETA */
.bottom-buffer {
  margin-bottom: 2em; }

main .scroll_nav {
  border-bottom: 0.1em solid black;
  margin-top: 2em;
  padding-bottom: 0.3em; }
  main .scroll_nav h1 {
    margin: 0; }
  main .scroll_nav a {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: black;
    padding-right: 0;
    padding-left: 0.75em;
    text-decoration: none; }
    main .scroll_nav a:hover {
      color: #646464;
      cursor: pointer; }
    @media (max-width: 770px) {
      main .scroll_nav a {
        padding-left: 0; } }
main div.jumptarget {
  padding-top: 56px !important;
  margin-top: -56px; }
main form label {
  padding-left: 1.1em;
  font-weight: 700; }
main form input[type="button"] {
  width: 20%; }
  @media (max-width: 530px) {
    main form input[type="button"] {
      width: 100%; } }
main .cards .fa-trash-alt:hover {
  cursor: pointer;
  color: #646464; }
main .cards .last-card {
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  main .cards .last-card:hover {
    background-color: black;
    color: white;
    cursor: pointer; }
main .table {
  table-layout: fixed; }
  main .table tr td:nth-child(2),
  main .table tr th:nth-child(2) {
    text-align: center; }
  main .table tr td:nth-child(3),
  main .table tr th:nth-child(3) {
    text-align: end; }
  main .table thead {
    text-transform: uppercase;
    font-weight: 700; }
    main .table thead tr th {
      border-bottom: 0.2em solid black;
      border-top: none; }
  main .table tbody tr td {
    border-top: 0.1em solid #D9D9D9; }
  main .table tbody tr:hover {
    background: #f9f9f9;
    cursor: pointer; }
  main .table tbody tr.bold {
    font-weight: bold;
    background: #f9f9f9; }
  main .table .collapse-line {
    padding: 0em;
    border-top: none;
    text-align: start;
    background: #f9f9f9; }
    main .table .collapse-line div.collapse {
      padding: 0.75em; }
      main .table .collapse-line div.collapse .products_list_title {
        text-transform: uppercase;
        font-weight: 700; }
      main .table .collapse-line div.collapse p {
        padding: 0; }
      main .table .collapse-line div.collapse hr {
        margin: 0.75em 0.75em 0em 0.75em;
        border-color: #646464; }

/*# sourceMappingURL=style.css.map */
