nav .pagination {
    margin: 0;
    * {
        padding-left: 1em;
        &:hover {
            text-decoration: none;
        }
    }
    a {
        color: $highlight;
    }
}

.filters {
    background-color: $white;
    padding: 2em;
    max-height: min-content;
    h5 {
        text-align: center;
    }
    h6 {
        margin-top: 2em;
    }
    input {
        cursor: pointer;
    }
    .form-check-label {
        font-size: 0.9em;
        font-weight: normal;
    }
    .price-slider {
        input {
            width: 100%;
        }
        span {
            font-size: 0.9em;
        }
    }
    a {
        color: $white;
        background-color: $black;
        padding: 0.2em;
        margin-top: 2em;
        width: 100%;
        border-radius: 0;
        text-decoration: none;
        text-align: center;
        font-size: 0.9em;
        &:hover {
            background-color: $highlight;
            border-color: $highlight;
            color: $white;
            text-decoration: none;
        }
    }
}

.products {
    #dropdownSort {
        background-color: transparent;
        text-decoration: none;
        color: $black;
        cursor: pointer;
        &:focus {
            color: $medium-grey;
        }
    }
}