nav .pagination {
    margin: 0;
    * {
        padding-left: 1em;
        &:hover {
            text-decoration: none;
        }
    }
    a {
        color: $highlight;
    }
}

.filters {
    background-color: $white;
    padding: 2em;
    max-height: min-content;
    h5 {
        text-align: center;
    }
    h6 {
        margin-top: 2em;
    }
    .form-check-label>p {
        font-size: 0.9em;
        margin: 0;
        padding-top: 0.2em;
    }
    .range-slider {
        input {
            width: 100%;
        }
    }
}

.products {
    #dropdownSort {
        background-color: transparent;
        text-decoration: none;
        color: $black;
        cursor: pointer;
        &:focus {
            color: $medium-grey;
        }
    }
}